---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import BlogLayout from "../../layouts/BlogLayout.astro";

const blogs =await getCollection("blog");
---

<BlogLayout>
<div class="wrapper-container my-4 justify-center gap-4 mx-auto text-left z-30">
{blogs.map((blog) => {
       return <div class="max-w-full max-h-[350px] mt-4 card p-6 bg-white border-2 border-gray-200 rounded-lg ">

          <Image src={blog.data.logo} alt="Article-logo" class="w-12 h-12" />
    <a href={`/blog/${blog.data.title}`}>
        <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900">{blog.data.title}</h5>
    </a>
    <p class="mb-3 font-normal text-gray-500">{blog.data.description.slice(0,100)}</p>
    <a href={`/blog/${blog.slug}`} class="inline-flex font-medium items-center text-[var(--primary-orange)] hover:underline">
        Read More
    </a>
</div>
})
}
</div>
</BlogLayout>


<style>
header{
background-color: black;
color: white;
}
</style>