---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import BlogPage from "../../assests/blogpage.png";
import BlogLayout from "../../layouts/BlogLayout.astro";
import BlogPostCard from "../../components/blogPostCard.astro";

import Breadcrumb from "../../components/breadcrumb.astro";
const { pathname:currentPath }= Astro.url;

const blogs =await getCollection("blog");
---

<BlogLayout>
<div class="relative">
<div class="relative top-0 w-full mb-6 h-[60vh] lg:h-[70vh] overflow-hidden">
  <Image 
    src={BlogPage} 
    alt="Banner Image" 
    class="absolute inset-0 w-full h-full bg-cover bg-center bg-no-repeat" 
  />
  <div class="absolute inset-0 bg-gradient-to-r from-black/65 to-black/65"></div>
<div class="relative wrapper-container flex items-center  h-full px-3">
     <div class="text-left">
      <h1 class="text-white text-[clamp(2.1rem,5vw,5rem)] mb-4 relative">
        Blogs
      </h1>
<Breadcrumb currentPath={currentPath}/>

    </div>
</div>
</div>

<div class="wrapper-container justify-center gap-4 mx-auto text-left z-30">
{blogs.map((blog) => {
       return <BlogPostCard blog={blog} width="w-full" scale=""/>
})
}
</div>
</div>
</BlogLayout>

