---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import BlogPage from "../../assests/blogpage.png";
import BlogLayout from "../../layouts/BlogLayout.astro";
import BlogPostCard from "../../components/blogPostCard.astro";

import Breadcrumb from "../../components/breadcrumb.astro";
import Banner from "../../components/banner.astro";
const { pathname: currentPath } = Astro.url;

const blogs = await getCollection("blog");
---

<BlogLayout>
  <div class="relative">
    <Banner title="Services" {currentPath} img={BlogPage} />

    <div class="wrapper-container justify-center gap-4 mx-auto text-left z-30">
      {
        blogs.map((blog) => {
          return <BlogPostCard blog={blog} width="w-full" scale="" />;
        })
      }
    </div>
  </div>
</BlogLayout>
