---
import BlogLayout from "../layouts/BlogLayout.astro";
import Banner from "../components/banner.astro";
import Form from "../components/form.astro";
import Location from "../assests/location.astro";
import Envelope from "../assests/envolope.astro";
import BlogPage from "../assests/blogpage.png";
import getintouch from "../assests/getintouch.png"
import Image from "astro/components/Image.astro";

const { pathname: currentPath } = Astro.url;
---

<BlogLayout>
  <Banner {currentPath} title="Contact" img={BlogPage} />

  <section
    class="w-full flex items-center justify-center h-[600px] bg-black bg-opacity-5"
  >
    <div
      class="max-w-full max-h-full h-[500px] w-[1000px] bg-white flex justify-between"
    >
      <div class="grid place-content-center bg-white p-6">
        <h1 class="text-2xl md:text-4xl   font-bold mb-6">Keep In Touch</h1>
        <div class="h-[90%] m-auto">
          <h2 class="text-xl font-bold mb-2">Contact Info</h2>
          <div class="bar mb-4"></div>
          <div class="flex items-center mb-2">
            <Location />
            <p>A-50, Mansa Ram Park, Dwarka Mor, New Delhi-59, India</p>
          </div>
          <div class="flex items-center mb-2">
            <Envelope />
            <p>ip@keshvaintellect.com</p>
          </div>
        </div>
      </div>

      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7004.916317253157!2d77.03118995886955!3d28.616027651796863!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d05305962fc1b%3A0x1acaa4f5b56ffde4!2sMansa%20Ram%20Park%2C%20Uttam%20Nagar%2C%20Delhi!5e0!3m2!1sen!2sin!4v1725822198811!5m2!1sen!2sin"
        class="max-w-full h-full w-[50%]"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </section>

  <section
    class="w-full flex items-center justify-center h-[600px]  bg-white"
  >
    <div
      class="max-w-full max-h-full h-[500px] w-[1000px]  bg-black bg-opacity-5 flex justify-evenly"
    >
 <Image src={getintouch} alt="" class="w-[50%]"/>
<Form classes=" bg-transparent w-[45%]"  title="Contact Us"/>
</div>

</section>
</BlogLayout>
