---
import BlogLayout from "../layouts/BlogLayout.astro";
import Banner from "../components/banner.astro";
import Form from "../components/form.astro";
import Location from "../assests/location.astro";
import Envelope from "../assests/envolope.astro";
import BlogPage from "../assests/blogpage.png";
import getintouch from "../assests/getintouch.png";
import Image from "astro/components/Image.astro";
import Phone from "../assests/phone.astro";

const { pathname: currentPath } = Astro.url;
---

<BlogLayout title="Contact">
  <Banner {currentPath} title="Contact" img={BlogPage} />

  <section class="w-full flex items-center justify-center h-auto py-12 bg-black bg-opacity-5 flex-wrap">
    <div class="max-w-full w-full lg:w-[1000px] bg-white flex flex-col lg:flex-row justify-between items-center lg:items-start p-6">
      <div class="lg:w-1/2 flex flex-col justify-center items-start mb-6 lg:mb-0">
        <h1 class="text-2xl md:text-4xl font-bold mb-6">Keep In Touch</h1>
        <h2 class="text-xl font-bold mb-2">Contact Info</h2>
        <div class="bar mb-4"></div>
        <div class="flex items-center mb-2">
         
          <p class="ml-2"><span class="font-bold uppercase">Registered office at:</span> A-50, Mansa Ram Park, Dwarka Mor, New Delhi-110 059, India</p>
        </div>
        <div class="flex items-center mb-2">
          <p class="ml-2"><span class="font-bold uppercase">Mail us at:</span> ip@kieshvaintellect.com | patents@kieshvaintellect.com</p>
        </div>
        <div class="flex items-center mb-2">
          <p class="ml-2"><span class="font-bold uppercase">Phone:</span> +91 11 4607 6169 | +91 11 4607 6204</p>
        </div>
        <div class="flex items-center mb-2">
          <p class="ml-2"><span class="font-bold uppercase">Cellphone:</span> +91 83840 19191</p>
        </div>
<div class="flex items-center mb-2">
          <p class="ml-2"><span class="font-bold uppercase">Satellite offices at:</span> U.S.A, Bangladesh, Nepal, Bhutan, Sri Lanka, Pakistan, Myanmar & Maldives.</p>
        </div>
<div class="flex items-center mb-2">
          <p class="ml-2"><span class="font-bold uppercase">Website: </span>  www.kieshvaintellect.com
</p>
        </div>
      </div>

      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7004.916317253157!2d77.03118995886955!3d28.616027651796863!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d05305962fc1b%3A0x1acaa4f5b56ffde4!2sMansa%20Ram%20Park%2C%20Uttam%20Nagar%2C%20Delhi!5e0!3m2!1sen!2sin!4v1725822198811!5m2!1sen!2sin"
        class="w-full lg:w-[50%] h-[300px] lg:h-[500px]"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </section>

  <section class="w-full flex items-center justify-center h-auto py-12 bg-white">
    <div class="max-w-full w-full lg:w-[1000px] bg-black bg-opacity-5 flex flex-col lg:flex-row justify-evenly items-center p-6">
      <Image src={getintouch} alt="Get in Touch" class="w-full lg:w-[50%] mb-6 lg:mb-0" />
      <Form classes="w-full lg:w-[45%] bg-transparent" />
    </div>
  </section>
</BlogLayout>
