---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Banner from '../components/banner.astro';
import Reviews from '../components/reviews.astro';
import Services from '../components/services.astro';
import Blog from '../components/blog.astro';
import GetInTouch from '../components/getintouch.astro';
import Footer from "../components/footer.astro"
import DISCLAIMER from "../components/popup.astro"
import BannerImage from '../assests/banner1.png';
import Searchandwatch from '../components/searchandwatch.astro';

---

<Layout title="Kieshva Intellect" >
<main>
	<Header/>
<Banner title="Kieshva Intellect" span="Absolut, We protect your IP" img={BannerImage}/>
<Services/>
<Reviews/>
<Blog/>
<Searchandwatch/>
<GetInTouch/>
<Footer/>
</main>
<DISCLAIMER/>
</Layout>

<script is:inline>

window.onload = function() {
const disclaimer = document.getElementById('disclaimer');
if(!disclaimer)return;

  if (sessionStorage.getItem('acceptDisclaimer') === 'true') {
    disclaimer.style.display = 'none';
document.body.style.overflow = 'auto';
  }else{
    disclaimer.style.display = 'flex';
document.body.style.overflow = 'hidden';
}
document.getElementById('acceptButton')?.addEventListener('click', function() {
    sessionStorage.setItem('acceptDisclaimer', 'true');
    disclaimer.style.display = 'none';
document.body.style.overflow = 'auto';
  });
}

  
</script>
