---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Banner from '../components/banner.astro';
import Reviews from '../components/reviews.astro';
import Services from '../components/services.astro';
import Blog from '../components/blog.astro';
import GetInTouch from '../components/getintouch.astro';
import Footer from "../components/footer.astro"
import DISCLAIMER from "../components/popup.astro"
---

<Layout title="Landing Page" >
<main class="disable-scroll">
	<Header/>
<Banner/>
<Services/>
<Reviews/>
<Blog/>
<GetInTouch/>
<Footer/>
</main>
<DISCLAIMER/>
</Layout>

<style>
.disable-scroll{
overflow: hidden;
opacity: 50%;	
cursor: none;
}
	</style>
