---
import Image from 'astro/components/Image.astro';
import Breadcrumb from '../components/breadcrumb.astro';

const {img,title,currentPath,span} = Astro.props
const class1 = "relative top-0 w-full h-[60vh] lg:h-[70vh] overflow-hidden"
---

<div class={currentPath?class1:"relative w-full lg:h-screen h-[60vh] overflow-hidden"}>
  <!-- Background Image -->
  <Image 
    src={img} 
    alt="Banner Image" 
    class="absolute inset-0 w-full h-full bg-cover bg-center bg-no-repeat" 
  />
  <!-- Gradient Overlay -->
  <div class="absolute inset-0 bg-gradient-to-r from-black/65 to-black/65"></div>
  <!-- Content -->
  <div class="relative wrapper-container flex items-center  h-full px-3">
     <div class="text-left">
      <h1 class="text-white uppercase text-[clamp(1.7rem,4.5vw,4.5rem)] mb-4 relative">
        {title}
        {(span)?<span class="block text-[clamp(1rem,2vw,2rem)] normal-case font-medium mt-2 relative -right-[clamp(25%,12vw,25vw)] top-[100%]">
          {span}
        </span>:""}
      </h1>
        {(currentPath)?<Breadcrumb currentPath={currentPath}/>:""}
      {span?<a class=" rounded-md mt-4 px-2 w-36 py-3 btn" href="/about">
        Learn More
      </a>:""}
    </div>
  </div>
</div>
