---
import Image from 'astro/components/Image.astro';
import BannerImage from '../assests/banner1.png';
---

<div class="relative w-full lg:h-screen h-[60vh] overflow-hidden">
  <!-- Background Image -->
  <Image 
    src={BannerImage} 
    alt="Banner Image" 
    class="absolute inset-0 w-full h-full bg-cover bg-center bg-no-repeat" 
  />
  <!-- Gradient Overlay -->
  <div class="absolute inset-0 bg-gradient-to-r from-black/65 to-black/65"></div>
  <!-- Content -->
  <div class="relative wrapper-container flex items-center  h-full px-3">
     <div class="text-left">
      <h1 class="text-white text-[clamp(2.1rem,5vw,5rem)] mb-4 relative">
        Kieshva Intellect
        <span class="block text-[clamp(1rem,2vw,2rem)] font-medium mt-2 relative -right-[clamp(25%,12vw,25vw)] top-[100%]">
          Absolutely, We protect your IP
        </span>
      </h1>
      <button class=" rounded-md mt-4 px-10 py-3">
        Learn More
      </button>
    </div>
  </div>
</div>
