---
import { getCollection } from 'astro:content';
import BlogPostCard from './blogPostCard.astro';

const blogs= await getCollection('blog');
---


<section class="py-8">
  <div class="wrapper-container text-center">
    <h1 class="text-4xl font-bold mb-6">Related Resources</h1>
    <div class="cards flex flex-wrap justify-center gap-4 mx-auto text-left z-30">
     
{blogs.map(blog=>{
return <BlogPostCard blog={blog}/>
})}
    </div>
  </div>
</section>
