---
import Image from 'astro/components/Image.astro';
import Article from "../assests/article.png";
import { getCollection } from 'astro:content';

const blogs= await getCollection('blog');
---


<section class="py-8">
  <div class="wrapper-container text-center">
    <h1 class="text-4xl font-bold mb-6">Related Resources</h1>
    <div class="cards flex flex-wrap justify-center gap-4 mx-auto text-left z-30">
     
{blogs.map(blog=>{
return <div class="max-w-[300px] card p-6 bg-white border border-gray-200 rounded-lg transition-transform duration-500 ease-out hover:scale-105">
          <Image src={blog.data.logo} alt="Article-logo" class="w-12 h-12" />
    <a href={`/blog/${blog.data.title}`}>
        <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900">{blog.data.title}</h5>
    </a>
    <p class="mb-3 font-normal text-gray-500">{blog.data.description.slice(0,100)}</p>
    <a href={`/blog/${blog.slug}`} class="inline-flex font-medium items-center text-[var(--primary-orange)] hover:underline">
        Read More
    </a>
</div>
})}
    </div>
  </div>
</section>
