---
import Image from 'astro/components/Image.astro';
import BannerImage from '../assests/banner.jpg';
import Form from './form.astro';
---

<section class="w-full relative text-white bg-cover bg-center py-12" id="getintouch"  style="background-image: linear-gradient(111deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../assests/banner.jpg');">
  <div class="wrapper-container relative z-10 flex flex-col md:flex-row items-center justify-between gap-8 px-4 md:px-8">
    
    <!-- Text Section -->
    <div class="text-center md:text-left mb-8 md:mb-0">
      <h1 class="text-3xl md:text-4xl font-bold">Get In Touch</h1>
      <h2 class="text-lg mt-2">We are here to help you  with experts</h2>
    </div>

    <!-- Form Section -->
    <Form  classes="shadow-lg bg-white"/>

  </div>
<Image 
    src={BannerImage} 
    alt="Banner Image" 
    class="absolute inset-0 w-full h-full z-0 bg-cover bg-center bg-no-repeat" 
  />
  <!-- Gradient Overlay -->
  <div class="absolute inset-0 bg-gradient-to-r from-black/65 to-black/65"></div>
</section>
