---
import Image from 'astro/components/Image.astro';
import Cross from '../assests/cross.svg';
---


<ul class="fixed inset-y-0 right-0 w-full bg-black text-white p-12 transform translate-x-full transition-transform duration-300 ease-in-out" id="mobile-menu">
    <button class="absolute top-2 right-2 text-white focus:outline-none w-14 h-14 bg-transparent" id="cross-btn"><Image src={Cross} alt="" /></button>
    <li><a href="#" class="block py-2">Home</a></li>
    <li><a href="#" class="block py-2">Search & Watch Services</a></li>
    <li class="relative">
      <a href="#" class="flex justify-between items-center py-2" id="mobile-services-btn">
        Services <span>+</span>
      </a>
      <!-- Mobile Submenu -->
      <ul class="hidden flex-col space-y-2 ml-4 mt-2 bg-gray-800 p-4 rounded-md" id="mobile-submenu">
        
        <li><a href="#" class="block text-sm">Patent Drafting Service</a></li>
        <li><a href="#" class="block text-sm">Patent Filing & Prosecution</a></li>
        <li><a href="#" class="block text-sm">Prior Art Search Report</a></li>
        <li><a href="#" class="block text-sm">Office Action Support | Response to First Examination Report</a></li>
        <li><a href="#" class="block text-sm">Trademarks</a></li>
        <li><a href="#" class="block text-sm">Industrial Designs</a></li>
        <li><a href="#" class="block text-sm">Copyright</a></li>
        <li><a href="#" class="block text-sm">Plant Variety Protection</a></li>
        <li><a href="#" class="block text-sm">IP Litigations</a></li>
      </ul>
    </li>
    <li><a href="#" class="block py-2">Blog</a></li>
    <li><a href="#" class="block py-2">Contact</a></li>
  </ul>