---
import Image from "astro/components/Image.astro";
import Ippartners from "../assests/Ippartner.png";
---
<div class="w-full  py-8 flex flex-col items-center justify-center bg-gray-100 rounded-lg shadow-md">
    <h1 class="text-center text-4xl font-bold text-gray-800 mb-3">Partners</h1>
    <Image src={Ippartners} alt="Partners Logo" class="w-[200px] h-auto rounded-lg" />
  </div>
  