
<div id="disclaimer" class="w-screen hidden absolute top-0 left-0 h-screen z-50  bg-white bg-opacity-50">
  <div class="bg-white p-4 sm:p-8 m-auto rounded-lg relative top-[10%] shadow-lg max-w-[95%] sm:max-w-[600px] md:max-w-[750px] h-auto max-h-[90vh] overflow-y-auto">
    <h1 class="text-2xl sm:text-3xl font-bold mb-4 text-center">DISCLAIMER</h1>
    <p class="mb-2 sm:mb-4 text-sm sm:text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores aut quae facilis, aperiam quasi ab dicta consequatur animi autem commodi atque consectetur? Laudantium perferendis adipisci non cumque perspiciatis nihil quasi fuga omnis quam veritatis aspernatur quis quisquam modi dolorum incidunt natus, reprehenderit suscipit id consequatur, architecto sed accusantium ea! Ratione.</p>
    <p class="mb-2 sm:mb-4 text-sm sm:text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. At deserunt deleniti quasi repellat? Quas voluptatum delectus laudantium molestias porro eum! Adipisci voluptates facere expedita laudantium facilis explicabo rem aliquid perferendis.</p>
    <p class="mb-2 sm:mb-4 text-sm sm:text-base">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione recusandae dolore iure porro harum, officiis autem numquam debitis iste at amet temporibus et tempore veritatis inventore optio quo unde aliquam.</p>
    <button id="acceptButton" class="mt-4 mx-auto w-full sm:w-auto px-6 py-2 font-bold rounded-lg">I ACCEPT THE ABOVE</button>
  </div>
</div>


