
<section class="flex flex-col h-[400px] bg-black items-center relative py-5">
 
  <div class="reviews text-white h-full text-center z-1 w-full flex justify-center items-center flex-col">
    <p class="text-xl ">More Than 100+ People are using our Service</p>
    <h1 class="text-5xl mt-2">Customers Reviews</h1>
    <div class="bar"></div>
  </div>
</section>