
<section class="flex flex-col h-[400px] bg-opacity-5  bg-black items-center relative py-5">
 
  <div class="reviews h-full text-center z-1 w-full flex justify-center items-center flex-col">
    <p class="text-xl w-[900px] max-w-full">Kieshva Intellect also delivers Search and Watch service to their clients. A team of vigilance is specified to deploy on special requirements of clients related to watch service. </p>
    <h1 class="text-3xl md:text-5xl mt-2">Search And Watch Services</h1>
    <div class="bar"></div>
  </div>
</section>