---
import patent from "../assests/patent.svg"
import trademark from "../assests/trademark.svg";
import copyright from "../assests/copyright.png";
import plant from "../assests/plant.png";
import design from "../assests/design.svg";
import scale from "../assests/scale.svg";
import Image from "astro/components/Image.astro";

const services = [
  {
    image: design,
    title: "Industrial Designs",
  },{
    title: "Copyright",
    image: copyright,
  },
  {
    image: plant,
    title: "Plant variety",
  },
  {
    image: trademark,
    title: "Trademark",
  },
  {
    image: scale,
    title: "Litigation",
  },
  {
    image: patent,
    title: "Patents",
  },
];


---
<section class="py-5">
  <div class="ourteam text-center wrapper-container relative overflow-hidden">
    <h1 class="font-bold text-4xl m-5">Services</h1>
    <div class="cards-wrapper slider">
      <div class="cards  ">
        {services.map((service,i) => (
          <div 
            class="card flex-none  bg-white rounded-2xl p-4 shadow-lg border-2 border-gray-300 transition-transform duration-500 ease-out hover:scale-105"
style={"--position:"+(i+1)}           
>
            <Image src={service.image} alt="image" class="w-4/5 mx-auto" />
            <div class="card-content p-2">
              <h2 class="text-main-blue text-center text-xl font-bold">{service.title}</h2>
            </div>
          </div>
        ))}
      </div>
    </div>
  </div>
</section>

<style>
.slider{
            --width: 200px;
            --height: 250px;
            --quantity: 6;
  width: 100%;
    height: 280px;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 10% 90%,
        transparent
    );
}

.slider .cards{
 display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
margin-top: 1rem;

}

 .card{
  width: var(--width);
    height: var(--height);
flex-shrink: 0;
    position: absolute;
max-width: 100%;
    left: 100%;
    animation: autoRun 6s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc( (6s / var(--quantity)) * (var(--position) - 1) - 6s);
}

.card img{
width: 100%;
height: 70%;
}
@keyframes autoRun{
    from{
        left: 100%;
    }to{
        left: calc(var(--width) * -1);
    }
}

.slider:hover .card{
    animation-play-state: paused!important;
    filter: grayscale(1);
}
.slider .card:hover{
    filter: grayscale(0);
color: var(--primary-orange);
border-color: var(--primary-orange);
}


.slider[reverse="true"] .card{
    animation: reversePlay 10s linear infinite;
}
@keyframes reversePlay{
    from{
        left: calc(var(--width) * -1);
    }to{
        left: 100%;
    }
}
</style>