---
interface Props {
	title: string;
}

const { title ='Landing Page' } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon"  href="./src/assests/logo2.png'" />
		<meta name="generator" content={Astro.generator} />		
		<title>{title}</title>
	</head>
	<body > 

		<slot />
	</body>
</html>
<style is:global>

html{
scroll-behavior:smooth;
}

:root{
--relative-width:90%;
--primary-orange:#BF8436;
--primary-orange-hover:#e9a245e7;
}


.wrapper-container{
width: var(--relative-width);;
margin:auto;
}

main{
width: 100%;
}

.custom-content-wrapper p {
  margin-block: .5rem;
  font-size: 1.1rem;
  line-height: 1.8;
  color: #333;
}

.custom-content-wrapper h2 {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: var(--primary-orange);
}
.custom-content-wrapper h3 {
font-size: 1.2rem;
color: var(--primary-orange);
font-weight: 700;
}

.custom-content-wrapper li{
list-style:disc;
margin: .2rem 1rem; 
}


.related-blogs {
  max-width: 1000px;
}
button,.btn{
background-color: var(--primary-orange);
color: white;
padding: .5rem 0.8rem;
}
button:hover,.btn:hover{
background-color: var(--primary-orange-hover);
}

 .bar{
background-color: var(--primary-orange);
width: 100px;
height: 5px;
border-radius: 10px;
margin: 20px 0px;
}
</style>